/* PRINCIPAL */
.principal {
  /* background: var(--gradiente-fundo); */
}

/* APRESENTACAO */
.apresentacao {
  background: linear-gradient(0deg, #B4B8E8, white);
}

.apresentacao__container {

}

.apresentacao__imagem {
  width: 100%;
  box-shadow: 5px 5px 10px var(--preto-sombra);
  margin-bottom: 2rem;
}

/* CONTATO */
.contato {
  background-color: #B4B8E8;
}

.contato__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.contato__links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 400px;
  flex-direction: row;
  align-items: center;
}

.contato__logo-link {
  width: 2.2rem;
}

.contato__telefone {
  font-family: var(--fonte-principal);
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--preto);
}

.contato__link-whats {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}

/* SHOWS */
.shows {
  background: linear-gradient(0deg, #647B91, #B4B8E8);
}

.shows__container {

}

/* FOTOS */
.fotos {
  background: linear-gradient(0deg, #B0C7DE, #647B91);
}

.fotos__container {

}

/* RELEASE */
.release {
  background: linear-gradient(0deg, white, #B0C7DE);
}

.release__container {

}

@media screen and (min-width: 720px) {
  /* APRESENTACAO */
  .apresentacao__container {
    display: flex;
    gap: 2.5rem;
    align-items: center;
  }

  .apresentacao__imagem {
    width: 18rem;
    transition: 1s;
    margin-bottom: 0;
  }

  .apresentacao__container .texto {
    margin-bottom: 0rem;
  }

  /* SHOWS */

  

  .contato__telefone:hover {
    text-decoration: underline;
  }
}