@import url(cabecalho.css);
@import url(rodape.css);
@import url(principal.css);

:root {
  --branco: #fff;
  --preto: #000;
  --cinza: gray;
  --preto-sombra: rgba(0, 0, 0, 0.468);

  --gradiente-fundo: linear-gradient(0deg, rgba(145,137,194,1) 39%, rgba(216,207,226,1) 100%);
  
  --fonte-principal: 'Rubik', sans-serif;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  padding: 3rem 0;
}

.titulo {
  font-family: var(--fonte-principal);
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.texto {
  font-family: var(--fonte-principal);
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 2rem;
}

.texto-negrito {
  font-weight: 500;
}

.imagens__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.imagem {
  width: 170px;
  box-shadow: 5px 5px 10px var(--preto-sombra);
}

.imagem:hover {
  width: 100%;
}

@media screen and (min-width: 720px) {
  .imagem {
    width: 200px;
  }
  
  .imagem:hover {
    width: 300px;
  }
}